.mediaViewInfo {
	--web-view-name: Artboard – 1;
	--web-view-id: Artboard__1;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard__1 {
	position: absolute;
	width: 1066px;
	height: 476px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Artboard – 1;
	--web-view-id: Artboard__1;
	--web-enable-deep-linking: true;
}
#Path_1 {
	fill: rgba(6,116,212,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 309px;
	height: 139px;
	left: 194px;
	top: 187px;
	transform: matrix(1,0,0,1,0,0);
}
#juan_volvio {
	left: 302px;
	top: 246px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}