.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    padding: 15px 15px 15px 15px}



header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
      }



h1 {

    position: fixed;
    top: 47%;
    left: 2%;
    font-size: 60px;
    font-weight: semibold;

      }







      #particles-js {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
      }
    






      
      .menu-container {
    
        flex-direction: column;
      }
      
      .menu-1, .menu-2 {
        font-size: 20px;
        height: 100px;
        width: 96%;
        background-color: rgb(255, 255, 255);
       text-align: left:20%;
        line-height: 60px;
        position: fixed;
        font-family: DM sans, sans-serif;
        opacity: 70%;
        left: 2%;
        display:flex;
        padding-top: 20px;
        padding-left: 20px;
  text-align: center; /* center the text inside the box */
      }
      
      .menu-1 {
        
        top: 57%;
      }
      
      .menu-2 {
       

        top: 68%;
      }
      

      @media (max-width: 600px) h1{
        position: fixed;
        top: 30%;
        left: 2%;
        font-size: 60px;
        font-weight: semibold;}