*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
 scroll-behavior: smooth;
}

body {
  background-image: url('./images/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
  width: 100%; /* Cover the full width of the viewport */
}


/*HEADER  */

.nav-links {
  display: flex;
  display: none;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links a {
  display: block;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
  font-size: larger;
}

.nav-links a:hover {
   color: rgb(255, 121, 121);
}

li{
  list-style: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10 80px ;
}

.nav-menu{
display: flex;
justify-content: space-between;
align-items: center;
gap: 10px;
margin-top: 40px;
margin-right: 40px;
}

.nav-link{
  transition: 0.7 ease;
  color: black;
  align-items: right;
  display: inline;
}

.nav-link:hover{
  color: rgb(44, 75, 101);
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(52, 51, 51);
}

.hamburger{
  display: block;
  display: none;
}
.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: rgb(152, 152, 152);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  padding: 60px;
  opacity: 100%;
}

.nav-item{
  margin: 10px;
}

.nav-menu.active{
  left:0;
}

.nav-menu.active .nav-link {
  color: none;
  border: 0px;
}




/* LOGO */

.logo { 
  width: 21rem;
  display: flex;
  margin-top: 1.5rem; /* Add margin-top to create spacing between logo and content */
  margin-left: 1rem; /* Adjust margin-left for desired positioning */
}

@media (max-width: 1200px) {
  .logo {
    width: 17rem;
  }
}




/* GRID */
  
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.1rem;
    margin-top: 3rem;
    
}
  
/* For phones */
@media (min-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;

    }
}
  
/* For tablets and desktops */
@media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
}
  
/* Styling for grid items (placeholders) */
  .grid-item {
  text-align: center;
}






/**************************BUTTONS HOME*************************************/
  
.grid-item button {
  padding: 20px 40px; /* Increased padding to make the buttons bigger */
  margin: 5px auto;
  display: block;
  background-color: rgba(66, 66, 66, 0.9);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px; /* Increased font size to make the text bigger */
  cursor: pointer;
  width: 70%;
}

.grid-item button,
.grid-item button span {
  display: block;
}

.grid-item button:hover {
  background-color: rgba(219, 52, 52, 0.713); /* Change background color to fully opaque on hover */
}

@media screen and (max-width: 600px) {
  .grid-item button {
    width: 85%;
  }
}



/**************************FOOTER*************************************/

footer {
    background-color: #33ff00b7;
    margin-top:  1px;
    text-align: center;
    position: sticky;
    bottom: 0;
    z-index: 90;
}

.social-links {
    margin: 10px;
}

.social-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.5rem;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    .social-links {
        display: flex;
        justify-content: center;
    }
}
/* Always stick the footer to the bottom */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}




/**************************ABOUT US*************************************/

.aboutgrid{
  background-color: black;
  opacity: 90%;
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 2rem;
  text-align: left;
}

.aboutgrid h2{
  color: #ffffff;
}

.aboutgrid p{
  color: #ffffff;
}

.pricegrid img {
}