*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header {
        
  background-color: rgb(241, 241, 241);
  opacity: 70%;
 
      }


li{
  list-style: none;
  
}

.navbar {

  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px ;
}

.nav-menu{

display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;

}


.nav-link{

  transition: 0.7 ease;
  color: black;
  align-items: right;
}

.nav-link:hover{
  color: rgb(44, 75, 101);
}






.hamburger{
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(52, 51, 51);
}

@media (max-width:768px){
.logo{left: 0;

}
.hamburger{
  display: block;
}
.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{

  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: rgb(108, 108, 108);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  padding: 60px;
  opacity: 100%;

  
 
 

}

.nav-item{
  margin: 10px;
}


.nav-menu.active{

  left:0;
}

}











.logo {
    display: flex;
    top: 0;
    left: 0;
    width: 200px;
    padding: 15px 15px 15px 15px}








 #particles-js {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
      }




main {
        padding: 20px;
      }
      
      .services {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        transform: translatey(70%);
       
      }

      .uno {margin-bottom: 30px;}
      
      .service {
        width: 98%;
        margin-bottom: 20px;
        padding: 20px;
        background-color: #f5f5f5;
      }
      
      .service h3 {
        margin-top: 0;
      }
      
      .service p {
        margin-bottom: 10px;
      }
      
      .service a {
        display: inline-block;
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
      }
      
      .service a:hover {
        background-color: #666;
      }  